* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fdfbf7;
  color: #1d2142;
}

.container {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
}

.faq-container h2 {
  font-family: "Montserrat", sans-serif;
  color: #1d2142;
  font-size: 1.9em;
  margin-bottom: 20px;
  font-weight: bolder;
}

.faq-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  text-align: left;
  justify-content: space-between;
  margin-top: 10%; /* Puedes ajustar el valor según sea necesario */
  font-size: 0.9em;
  color: #333;
  padding-top: 10px; /* Añade algo de espacio encima si es necesario */
}

.faq-image {
  max-width: 300px;
  height: auto;
  margin: 2rem auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.faq-image:hover {
  transform: scale(1.02);
}

.faq-list {
  list-style: none;
  text-align: left;
  width: 100%;
  max-width: 600px;
  color: #1d2142;
  margin-bottom: 20px;
}

/* Estilos previos... */

.faq-list li {
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
}

.respuesta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  font-size: 0.9em;
  color: #333;
  margin-top: 5px;
}

.faq-list li.active .respuesta {
  max-height: 150px; /* Ajusta el valor según la altura esperada de la respuesta */
}

/* Estilo para resaltar la pregunta seleccionada */
.faq-list li.active strong {
  color: #ffce47;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .content {
    padding: 20px;
  }
  .faq-list {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .faq-container {
    padding: 1rem;
  }

  .faq-image {
    max-width: 250px;
  }
}

/* Estilos para accesibilidad */
@media (prefers-reduced-motion: reduce) {
  .faq-image,
  .MuiCollapse-root {
    transition: none !important;
  }
}

/* Alto contraste */
@media (prefers-contrast: high) {
  .faq-container {
    background-color: white;
    color: black;
  }
}
