* {
  box-sizing: border-box;
}

.login-container {
  background: #fffdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0;
}

.login-container h1 {
  font-weight: bold;
  color: #25283d; /* Color del título h1 en modo claro */
  margin: 0;
}

.login-container h2 {
  font-size: 24px; /* Tamaño específico para h2 */
  text-align: center;
  color: #25283d; /* Color del título h2 en modo claro */
}

.login-container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  color: #ffffff;
}

.login-container span {
  color: #ffffff;
  font-size: 12px;
}

.login-container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.login-container button {
  border-radius: 20px;
  background-color: #25283d; /* Color de fondo inicial */
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin-top: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 80ms ease-in;
}

.login-container button:hover {
  background-color: #ffc247; /* Nuevo color de fondo al pasar el ratón */
}

.login-container button:active {
  transform: scale(0.95);
}

.login-container button:focus {
  outline: none;
}

.login-container button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.login-container button.ghost:hover {
  background-color: #ffc247;
}

.login-container form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.login-container input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.input-error {
  border: 2px solid #e74c3c; /* Rojo más suave */
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-error:focus {
  box-shadow: 0 0 8px rgba(231, 76, 60, 0.6); /* Efecto de sombra al enfocarse */
}

.message {
  color: #e74c3c; /* Mantener el color para el texto de error */
  font-size: 14px;
  margin-top: 5px;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 600px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #25283d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  color: #ffc247; /* Color por defecto */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

.social-container a:hover {
  background-color: #ffc247; /* Color de fondo al pasar el ratón */
  color: #fff; /* Color de icono al pasar el ratón */
}

.login-container footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

.login-container footer p {
  margin: 10px 0;
}

.login-container footer i {
  color: red;
}

.login-container footer a {
  color: #3c97bf;
  text-decoration: none;
}

/* Light Theme (Default) */
.login-container body {
  background: #f6f5f7;
  color: #333;
}

.overlay-right h1,
.overlay-left h1 {
  color: #fffdfd;
}

.account-option {
  color: #333333 !important;
  background-color: transparent !important;
  border: none !important;
}

.message.error-message {
  color: #ff0000;
}

.input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Deja espacio para el ícono */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.password-container {
  position: relative;
  width: 100%; /* Asegura que ocupe el ancho completo */
}

.password-container .password-toggle{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #2c2c2c;
  font-size: 18px; /* Tamaño del ícono */
}

.password-container .password-toggle:hover {
  color: #ffc247;
}

.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  .login-container {
    background: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: 0;
  }

  .container {
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 600px;
  }


  .account-option {
    color: #faf9f9 !important;
    background-color: transparent !important;
    border: none !important;
  }

  .login-container body {
    background: #1e1e1e;
    color: #fff;
  }

  .login-container form {
    background-color: #333;
  }

  .login-container input {
    background-color: #444;
    color: #fff;
  }

  .password-container .password-toggle{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fffdfd;
    font-size: 18px; /* Tamaño del ícono */
  }

  .password-container .password-toggle:hover {
    color: #ffc247;
  }

  .login-container button {
    background-color: #555;
    border-color: #777;
  }

  .overlay {
    background: #222;
  }

  .login-container h1{
    color: #f6f5f7;
  }

  .login-container a {
    color: #bbb;
  }

  .login-container footer {
    background-color: #111;
    color: #888;
  }

  .login-container footer a {
    color: #ff0000;
  }

}