.task-dialog .MuiDialog-paper {
  max-height: 80vh; /* Altura máxima para el diálogo */
}

.content-wrapper {
  display: flex;
  gap: 24px;
}

.left-column {
  padding-right: 16px;
  border-right: 1px solid #e0e0e0; /* Línea divisoria entre columnas */
}

.right-column {
  padding-left: 16px;
}

.comment-input {
  border-radius: 100%;
}
